@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;1,700&family=League+Spartan:wght@400;600&display=swap');

/* #region Universal Code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;;
}

:root {
  --green-color: #365332;
  --lightgreen-color: #6BC7A1;
  --cream-color: #FBFAE2;
  --lightorange-color: #FBCC7C;
  --main-font: 'League Spartan', sans-serif;
  --secondary-font: 'Gentium Book Plus', serif;
}

/* button styling */
button {
  background: var(--lightorange-color);
  width: 150px;
  height: 50px;
  margin: 10px 0;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--green-color);
  color: var(--green-color);
}

button:hover {
  background: #6BC7A1 ;
}

i {
  font-size: 1em;
}
/* #endregion  */

/* #region Header Styling  */
header {
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 4em;
  /* justify-content: space-between; */
  align-items: center;
  /* height: 60px; */
  padding: 0 1em;
  background-color: var(--cream-color);
  border: 3px solid red;
  /* height: 10vh; is this ok? */
}

.page-title {
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: italic;
  font-size: 1.5em;
  color: var(--green-color);
}

/* .logo {
  max-width: 70px;
} !help, ini ada fungsinya ga */

.logo {
  text-align: left;
}

.logo img {
  max-width: 3.5em;
  height: auto;
}

header ul {
  text-align: right;
}

header ul li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}

header .fa-brands, header .fa-solid {
  font-size: 1.5em;
  color: var(--green-color);
}

/* #endregion */

/* #region Navbar Styling */
nav {
  padding: 0 1em;
  background-color: var(--green-color);
  color: var(--cream-color);
  border: 5px solid red;
}

nav button {
  height: 3em;
  width: auto;
  text-transform: none;
}
nav .search-bar {
  display: flex;
  align-items: center;
}

nav .search-bar input {
  height: 3em;
  width: auto;
}

nav .search-bar button {
  width: 3em;
  height: 3em;
}

/* sticky nav */
nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--cream-color);
}

nav .container{
  display: flex;
  align-self: center;
  max-width: 1600px;
}

nav .subcontainer{
  width: 100%;
  display: flex;
  /* the key */
  justify-content: flex-end;
}

nav .navbar {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

nav .nav-item button {
  width: auto;
  height: auto;
}
nav .nav-link{
  transition: 0.3s ease-out;
}

nav .nav-link:hover {
  color: var(--lightorange-color);
}

.hamburger {
  display: none;
  cursor: pointer;
}

/* the bars in hamburger */
nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: var(--cream-color);
}

/* dropdown code */

nav .link {
  background: none;
  border: none;
  padding: 0;
  color: var(--cream-color);
  /* text-decoration: none; */
  cursor: pointer;
  /* font-family: inherit; */
  font-size: 1em;
  transition: 0.3s ease-out;
}

nav .link:hover{
  color: var(--lightorange-color);
}

nav .dropdown.active > .link {
  color: white;
}

nav .dropdown{
  position: relative;
}

nav .dropdown-menu{
  position: absolute;
  left: -20px;
  top: calc(100% + .25rem);
  background-color: var(--cream-color);
  padding: .75rem;
  /* key */
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 1px solid var(--green-color);
}

nav .dropdown-menu a {
  color: var(--green-color);
  text-decoration: none;
}

nav .dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

@media(max-width:1600px){
  .container {
    width: 100%;
  }
}

@media(max-width:830px){
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: var(--green-color);
    border: 1px solid var(--cream-color);
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
}
/* #endregion navbar styling*/

/* #region login page */

 #login-page { /*body */
  align-items: center;
  display: flex;
  justify-content: center;

  flex-direction: column;
  background-color: var(--green-color);
  min-height: 100vh;
}

#login-page .container {
  position: relative;
  width: 70vw;
  height: 80vh;
  /* background: var(--cream-color); */
  border-radius: 10px;
  overflow: hidden;
  /* box-shadow: 0 14px 15px var(--lightgreen-color); */

}

#login-page .container::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, var(--lightgreen-color), var(--green-color));
  /* border: 3px solid#fff; */
  z-index: 6;
  /* biar ngilang */
  left: -50%;
  transform: translateX(100%);
  transition: 1s ease-in-out;
}

/* animation */
#login-page .container.sign-in-mode::before {
  transform: translateX(0);
}

#login-page .left-panel img,
#login-page .left-panel .content {
  transform: translateX(-200%);
}

#login-page .right-panel .image,
#login-page .right-panel .content {
  transform: translateX(0);
}

#login-page .container.sign-in-mode .right-panel img,
#login-page .container.sign-in-mode .right-panel .content {
  transform: translateX(200%);
}

#login-page .container.sign-in-mode .left-panel img,
#login-page .container.sign-in-mode .left-panel .content {
  transform: translateX(0);
}

#login-page .container.container.sign-in-mode form.signin-register {
  opacity: 0;
}
#login-page .signin-register {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around ;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  
  background: var(--cream-color);
} 

#login-page form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 238px;
  width: 40%;
  padding: 0 20px;
  height: 100%;
  text-align: center;
}

#login-page form.signin-register {
  opacity: 1;
  transition: 0.4s ease-in-out;
  transition-delay: 1s;
}

#login-page .panels-container h1, p {
  color: var(--cream-color);
  margin-bottom: 5px;
  /* border: 1px solid rebeccapurple; */
}

#login-page p {
  margin: 15px 0 10px;
}

#login-page .content {
  transition: 1.1s ease-in-out;
  transition-delay: 0.4s;
}
#login-page input {
  /* background: var(--lightgreen-color); */
  padding: 10px 10px;
  margin: 10px;
  height: 50px;
  width: 100%;
}

#login-page .signin-register a {
  text-decoration: none;
  color: var(--lightorange-color);
}

#login-page .panels-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* border: 3px solid#fff; */
}

#login-page .panel {
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  max-height: 60%;
  min-width: 238px;
  padding: 20px 20px;
  text-align: center;
}

#login-page img {
  width: 100%;
  transition: 1.1s ease-in-out;
  transition-delay: 0.4s;
}

#login-page .left-panel {
  pointer-events: none;
}

#login-page .container.sign-in-mode .right-panel {
  pointer-events: none;
}

#login-page .container.sign-in-mode .left-panel {
  pointer-events: all;
}

/* responsiveness */
@media (max-width: 700px) {
  #login-page .container {
    width: 100vw;
    height: 100vh;
  }
}

/* #endregion  */
/* 
INTRO SECTION
INTRO SECTION
INTRO SECTION
*/

/* #region learn page */
#learn #post-container {
  padding: 1em 0;
}
#learn .post-image {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  margin-right: 1em;
}

#learn .post-details {
  display: flex;
    justify-content: center;
  }

}
/* #endregion  */

/* #region Visit */

/* #endregion */